<footer> this is a property of rizky labs 
    <br><br><br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dolores provident quia, ipsam distinctio ratione blanditiis ducimus hic ex molestias. Cum architecto exercitationem recusandae consequatur, voluptatibus quaerat in! Optio, facere.</p>
</footer>